:root {
      --light-green: rgb(19, 30, 44);
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      font-family: 'Inter', sans-serif;
}

body {
      background: var(--light-green);
      color: rgb(247, 247, 247);
}

#app {
      padding: 12px;
}

input {
      padding: 8px 10px;
      border: 1px solid rgb(59, 59, 59);
      outline: none;
}

button {
      padding: 8px 10px;
      border: 1px solid rgb(59, 59, 59);
      outline: none;
      cursor: pointer;
}

#notes-grid {
      width: 100%;
      margin-top: 20px;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 1rem;
}

.card {
      padding: 12px;

      background: #fff;
      color: #000;
}